- form_for @site, :builder => EasyFormBuilder do |f|
  = f.error_messages
  = f.text_field :name
  = f.text_field :tagline
  = f.text_area :description
  - unless @site.new_record?
    = f.calendar_date_select :launched_at
  = f.submit "save"