<!DOCTYPE html>
%html
  %head
    %title
      WebSightr.com -
      = @title || "social web site creation, envisioning the future of the internet"
    = stylesheet_link_tag "main", "calendar"
    = javascript_include_tag :defaults
    = csrf_meta_tag
%body
  #header
    %h1
      = link_to image_tag("logo.png"), "/"
      = link_to "websightr", "/"
      %span.smallText (beta)
    .nav
      = link_to_unless_current "Home", "/"
      &middot;
      = link_to_unless_current "Add a website idea", new_site_path
      &middot;
      = link_to "Source", "http://github.com/michaeleconomy/websightr"
      &middot;
      - if signed_in?
        hi
        = link_to_ar current_user
      - else
        = link_to image_tag("fb-login-button.png", :alt => 'login with facebook'), "/auth/facebook"
          
  #main
    - if !flash[:notice].blank?
      #flash
        = h flash[:notice]
    = yield
    #footer
      #copyright
        &copy; michael economy
        = Date.today.year